- import_logs.each do |import_log| 
  %tr.import_logs{ :id => dom_id(import_log), :data=> { 'import-log-id'=> import_log.id}}
    %td= humanize_import_type import_log.log_type
    %td= import_log.state
    %td= time_ago_in_words import_log.created_at
    %td= l import_log.created_at, format: :long
    %td=link_to 'Ver log', [:admin, import_log]