= render 'admin_products'
=link_to '<i class="icon-arrow-left"></i> Log de importación'.html_safe, admin_import_logs_path, class: 'btn bottom-margin-1'
%h3.bottom-margin-1=" Eventos para la #{humanize_import_type @import_log.log_type}"
#import_events_list{data: { url:  admin_import_log_path(@import_log) } }
  = render 'import_events', import_log: @import_log, import_events: @import_events