%h2 Direcciones
#addresses_list
  =simple_form_for [:admin, City.new] do |f|
    =f.input :name, label: false, placeholder: 'Nombre', input_html: {class: 'span2'}
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      - @cities.each do |city|
        %li
          %a{:href=>"#city_#{city.id}", :data=>{:toggle=>"tab"}}
            = city.name
    .tab-content
      hello