= render 'administration'
.row
  .span6
    %h2.bottom-margin-1 Direcciones
    #addresses_list
      .row
        .span2
          %h4.bottom-margin-1.span2 Ciudades
          %form{action: '/admin/cities'}
            %input.span2.add_city{type:'text', placeholder: 'Nombre', name: 'city[name]'}
            %botton.btn.btn-primary#add_city agregar ciudad
          #cities_list
            - @cities.each do |city|
              %table.table.table-striped.table-bordered.city_table{:id=> dom_id(city), :data=> {'city-id'=> city.id, 'city-name' => city.name} }
                %tbody
                  %tr
                    %td
                      %a.city_link= city.name
                      =image_tag 'spinner.gif', class: 'hidden'
                  %tr
                    %td
                      .btn-group
                        %a.btn.edit Editar
                        %a.btn.trash Eliminar
        .span2
          #areas
        .span2
          #streets{data: {stores: Store.all.to_json}}
  .span6
    #properties_controller
  