= render 'administration'

#client_merge.swMain
  %ul
    %li
      %a{:href => "#step-1"}
        %label.stepNumber 1
        %span.stepDesc
          Cliente 1
    %li
      %a{:href => "#step-2"}
        %label.stepNumber 2
        %span.stepDesc
          Cliente 2
    %li
      %a{:href => "#step-3"}
        %label.stepNumber 3
        %span.stepDesc
          Comparaci칩n
    %li
      %a{:href => "#step-4"}
        %label.stepNumber 4
        %span.stepDesc
          Resultado
  #step-1
    %h2.StepTitle Este es el cliente que sera actualizado
    .row
      .span8= render 'merge_search', :form_id =>'target_client_search'
    .row  
      #choose_destination_client.span8

  #step-2
    %h2.StepTitle Este cliente ser치 eliminado y sus datos ser치n transferidos al seleccionado en el paso 1
    .row
      .span8= render 'merge_search', :form_id =>'source_client_search'
    .row
      #choose_source_client.span8
  #step-3
    %h2.StepTitle Elija los valores que deben mantenerse
    #client_personal_data_merge
  #step-4
    %h2.StepTitle Por favor, verifique el resultado de la funsi칩n
    #merge_client_confirmation