#client_merge.swMain
  %ul
    %li
      %a{:href => "#step-1"}
        %label.stepNumber 1
        %span.stepDesc
          Step 1
          %br/
          %small Step 1 description
    %li
      %a{:href => "#step-2"}
        %label.stepNumber 2
        %span.stepDesc
          Step 2
          %br/
          %small Step 2 description
    %li
      %a{:href => "#step-3"}
        %label.stepNumber 3
        %span.stepDesc
          Step 3
          %br/
          %small Step 3 description
    %li
      %a{:href => "#step-4"}
        %label.stepNumber 4
        %span.stepDesc
          Step 4
          %br/
          %small Step 4 description
  #step-1
    %h2.StepTitle Step 1 Content
    / step content
  #step-2
    %h2.StepTitle Step 2 Content
    / step content
  #step-3
    %h2.StepTitle Step 3 Title
    / step content
  #step-4
    %h2.StepTitle Step 4 Title
    / step content