#client_merge.swMain
  %ul
    %li
      %a{:href => "#step-1"}
        %label.stepNumber 1
        %span.stepDesc
          Cliente 1
          %br/
          %small Seleccione un cliente objetivo
    %li
      %a{:href => "#step-2"}
        %label.stepNumber 2
        %span.stepDesc
          Cliente 2
          %br/
          %small Seleccione un segundo
    %li
      %a{:href => "#step-3"}
        %label.stepNumber 3
        %span.stepDesc
          Comparaci칩n
          %br/
          %small Coteje los datos
    %li
      %a{:href => "#step-4"}
        %label.stepNumber 4
        %span.stepDesc
          Resultado
          %br/
          %small Confirme el resultado
  #step-1
    %h2.StepTitle Este es el cliente que sera actualizado
    = render 'merge_search', :form_id =>'target_client_search'
    #choose_destination_client

  #step-2
    %h2.StepTitle Este cliente ser치 eliminado y sus datos ser치n transferidos al seleccionado en el paso 1
    = render 'merge_search', :form_id =>'source_client_search'
    #choose_source_client
  #step-3
    %h2.StepTitle Elijas los valores que deben mantenerce
    #client_personal_data_merge
  #step-4
    %h2.StepTitle Por favor, verifique el resultado de la funsi칩n
    #merge_client_confirmation