%h3 Clientes
=link_to 'Clientes contact center', admin_clients_path
=render 'modal', :modal_id => 'admin_import_client_modal', :title=>'Importar cliente'
=render 'modal', :modal_id => 'admin_client_conflict_modal', :title=>'Resolución de conflictos'

#olo_client_list.top-margin-1{data: {cities: City.all.to_json(only: [:id, :name])}}