= render 'administration'

%h3.bottom-margin-1 Clientes OLO
=link_to 'Clientes contact center', admin_clients_path, class: 'btn btn-large'
=render 'modal', :modal_id => 'admin_import_client_modal', :title=>'Importar cliente'
=render 'modal', :modal_id => 'admin_client_conflict_modal', :title=>'Resolución de conflictos'

#olo_client_list.top-margin-1{data: {cities: City.all.to_json(only: [:id, :name])}}
  %h2 Contactando Olo
  .progress.progress-striped.active
    .bar{:style=>"width: 100%;"}