%h2 Iniciar sesión
=form_tag 'sessions', class: "well form-inline top-margin-1" do
  =text_field_tag :username, nil, placeholder: 'Username'
  =password_field_tag :password,nil , placeholder: 'Password'
  =submit_tag 'Enviar', name: nil
