%h4 Favoritos
#favorites
  - if current_user.user_carts.count.nonzero?
    %ul.unstyled
      - current_user.user_carts.each do |user_cart|
        - if user_cart.cart.present?
          %li
            = link_to user_cart.info, [:admin, user_cart.cart]
            |
            = link_to 'remover', [:admin, user_cart], method: :delete

