= render 'administration'
.row
  %h3.bottom-margin-1 Números Fiscales
.row 
  =form_for :q , url: admin_taxpayer_identifications_path,  html: { class: "form-search" }, method: :get do  |f|
    =f.text_field :idnumber , class: "input-medium search-query", placeholder: 'RNC/Cédula'
    =f.submit "Buscar", name: nil, class: 'btn'
  =will_paginate @tax_ids
  %table.table.table-striped.table-bordered.table-condensed#tax_ids_list
    %thead
      %th Cedula/RNC
      %th Nombre
      %th Compañía
    %tbody
      -@tax_ids.each do |tax_id|
        %tr{:data=>{'tax_id-id'=> tax_id.id}, :id=>dom_id(tax_id)}
          %td= tax_id.idnumber
          %td= tax_id.full_name
          %td= tax_id.company_name
  =will_paginate @tax_ids