=link_to '<i class="icon-arrow-left"></i> Ordenes'.html_safe, admin_carts_path, class: 'btn bottom-margin-1'
.row
  .span3
    = render @cart.user
    = render @cart.client if @cart.client.present?
  .span8#checkout_cart{data: {id: @cart.id }}
    .btn-group.bottom-margin-2
      =link_to 'Archivar', '#', class: 'btn message_mask_cart_btn', id: 'btn_archive'
      =link_to 'Eliminar', '#', class: 'btn message_mask_cart_btn', id: 'btn_trash'
      =link_to 'Favoritos', '#', class: 'btn message_mask_cart_btn', id: 'btn_favorites'
      =link_to 'Completar fuera de linea', '#', class: 'btn message_mask_cart_btn', id: 'btn_complete_offline'
    = render @cart if @cart