=link_to '<i class="icon-arrow-left"></i> Ordenes'.html_safe, admin_carts_path, class: 'btn bottom-margin-1'
.row
  .span3
    = render 'admin/user_carts/index' if current_user.user_carts.count.nonzero?
    = render @cart.user
    = render @cart.client if @cart.client.present?
  .span8#checkout_cart{data: {id: @cart.id }}
    .btn-group.bottom-margin-2
      =link_to 'Archivar', assign_admin_carts_path(cart_ids: [@cart.id], destination: 'archivados'), class: 'btn message_mask_cart_btn', id: 'btn_archive', method: :put unless @cart.in? 'archivados'
      =link_to 'Eliminar', assign_admin_carts_path(cart_ids: [@cart.id], destination: 'eliminados'), class: 'btn message_mask_cart_btn', id: 'btn_trash', method: :put unless @cart.in? 'eliminados'
      =link_to 'Favoritos', admin_user_carts_path(cart_id: @cart), class: 'btn message_mask_cart_btn', id: 'btn_favorites', method: :post
      =link_to 'Completar fuera de linea', '#', class: 'btn message_mask_cart_btn', id: 'btn_complete_offline'
    = render @cart if @cart