= render 'administration'
.row
  %h3.bottom-margin-1 Razones
.row
  =form_for [:admin, Reason.new],  html: { class: "form-inline" } do  |f|
    =f.text_field :description , class: "input-xxlarge ", placeholder: 'Descripción'
    =f.submit "Crear", name: nil, class: 'btn'
  %hr
  =will_paginate @reasons
  %table.table.table-striped.table-bordered.table-condensed#reasons_list
    %thead
      %th Descripción
      %th 
    %tbody
      -@reasons.each do |reason|
        %tr{:data=>{'reason-id'=> reason.id}, :id=>dom_id(reason)}
          %td= best_in_place reason, :description, path: admin_reason_path(reason, method: :put)
          %td
            .btn-group
              = link_to 'Ordenes', [:admin, reason], class: 'btn'
  =will_paginate @reasons