.row
  .span3
    .well
      .row.bottom-margin-1
        .span4
          %h3 Mis datos
      .row
        .span4
          %strong Nombre:
          = @user.first_name 
      .row
        .span4
          %strong Apellido:
          =@user.last_name
      .row
        .span4
          %strong Cedula:
          =number_to_cedula @user.idnumber
      .row
        .span4
          %strong Roles:
          =@user.roles.to_a.to_sentence

      .row
        .span4
          %strong Inicios de sesión:
          =@user.login_count
  .span9#carts_list
    - if @carts.count.nonzero?
      %h3 Ordenes
      %hr
      .btn-group.bottom-margin-2
        =link_to 'Todas', users_path, class: 'btn search_cart_btn', id: 'btn_all'
        =link_to 'Completadas', users_path(search: 'completed'), class: 'btn search_cart_btn', id: 'btn_completed'
        =link_to 'Incompletas', users_path(search: 'incomplete'), class: 'btn search_cart_btn', id: 'btn_incomplete'
        =link_to 'Anuladas', users_path(search: 'abandoned'), class: 'btn search_cart_btn', id: 'btn_abandoned'
        =link_to 'Fallas de comunicación', users_path(search: 'comm_failed'), class: 'btn search_cart_btn', id: 'btn_comm_failed'

      = will_paginate @carts
      -@carts.each do |cart|
        = render '/admin/carts/cart', cart: cart
        %hr 
      = will_paginate @carts
    -else
      %h3 No tienes ordenes aún