.row
  .span6.offset2
    .panel#client_search_panel
      %h3 Clientes
      .content
        =form_tag root_path, class: "form-horizontal", id: "client_search" do
          =hidden_field_tag 'client[id]'
          %fieldset
            .control-group
              =label_tag :telefono,nil, class: 'control-label'
              .controls
                =text_field_tag :telephono, nil, class: 'input-medium', id:"client_search_phone", name:"client[phone]"
                =text_field_tag :ext, nil, class: 'input-mini', id:"client_search_ext", name:"client[ext]", placeholder: 'Ext'
            .control-group
              =label_tag :nombre,nil, class: 'control-label'
              .controls=text_field_tag :nombre, nil, class: 'input-xlarge', id:"client_search_first_name", name:"client[first_name]"
            .control-group
              =label_tag :apellido,nil, class: 'control-label'
              .controls=text_field_tag :apellido, nil, class: 'input-xlarge', id:"client_search_last_name", name:"client[last_name]"