= render 'admin_products'

=link_to '<i class="icon-arrow-left"></i> Tiendas'.html_safe, admin_stores_path, class: 'btn bottom-margin-1'
=simple_form_for [:admin, @store], html: {class: 'form-horizontal'} do |f|
  = render 'form', :f => f