// Place all the styles related to the admin/addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#area_search_scroll{
  max-height: 500px;
  overflow:scroll;
}
.content_follow_wrapper{
  top:190px;
  position:absolute;
}
#street_search_scroll{
  max-height: 500px;
  overflow:scroll;
  .drag_street{
    border-bottom: 1px solid #DDD;
  }
}