// Place all the styles related to the admin/addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#area_search_scroll{
  max-height: 500px;
  overflow:scroll;
}
#street_search_scroll{
  max-height: 500px;
  overflow:scroll;
}