.modal.hide{id: "abandon_cart_modal"}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3="Anular orden"
  .modal-body
    = form_tag :abandon_carts, class: 'form-horizontal', id: 'abandon_cart_form' do
      %fieldset
        %legend Seleccione una razón
        = select_tag 'cart[reason_id]', options_for_select( Reason.all.map{|reason| [ reason.description, reason.id] } )

  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Cerrar
    %a.btn.btn-primary{:href => "#" , :id=>"abandon_cart_modal_button"} Guardar