= form_tag :discount_carts, class: 'form-horizontal', id: 'payment_cart_form' do
  
  %label.radio
    %input{:type=>"radio", :name=>"cart[payment_type]", :id=>"cash_payment", :value=>"Cash",  :checked => 'checked'}
    Pago efectivo
  %label.radio
    %input{:type=>"radio", :name=>"cart[payment_type]", :id=>"credit_payment", :value=>"CreditCard" }
    Pago con tarjeta
  .control-group#creditcard_number.hidden.top-margin-1
    = text_field_tag 'cart[cardnumber]', nil, placeholder: 'Número de tarjeta', id: 'cardnumber'
  .control-group#creditcard_approval.hidden
    = text_field_tag 'cart[credit_card_approval_number]', nil, placeholder: 'Número de aprobación', id: 'cardapproval'