@import "bootstrap";

.navbar 
{
	
	.divider-vertical {
		background-color: #7BA5F0;
		border-right: 1px solid #447FE9;	
	}
	.brand{
		text-shadow:black 0 1px 0;
		color:white;
	}
		ul.nav {
		  
		  .active > a, .active > a:hover {
        color: white;
        text-decoration: none;
        @include box-shadow(#{ inset 2px 2px 2px 2px rgba(0,0,0,.1)});
        @include gradient-vertical(#447FE9, #7BA5F0 );
        
        border: #447FE9 1px solid;
      }
      
			li a {
				color:#eee;
				text-shadow:black 0 1px 0;
				&:hover{
					color:white;
				}
			}
//			color:white;
			text-shadow:black 0 1px 0;
		}
	.navbar-inner{
		@include gradient-vertical(#7BA5F0, #447FE9);
	}
}



body { padding-top: 100px; }


@import "bootstrap-responsive";
@import './global';
@import './home';
@import './sessions';
@import './builder';
@import 'select2'