// Place all the styles related to the builder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.adder{
  overflow:hidden;
  input{
    float:right;
  }
  .cart_product_quantity{
    float:right;
    width:30px;
    text-align:center;
  }
}
.option_box{
  text-align: center;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  input{
    width:50px;
    text-align:center;
  }
}



.option_box_sides{
  text-align: center;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.amount_control_multi_sides_first{
  display:inline;
}
.amount_control_multi_sides_second{
  display:inline;
}