// Place all the styles related to the builder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab-content .option_box {
    display: block;
    position:absolute;
    top:0;
    left:0;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f4faff;
    border: 1px solid #e0eeff;
    overflow:hidden;
    &:hover {
    background-color: white;
    border: 1px solid black;
    }
    
    .option_name{
      margin:0 auto;
      line-height: 20px;
      text-align: center;
      max-width: 110px;
      height: 20px;
      overflow:hidden;
      background-color: #f4faff;
    }
    table.option_table{
      border-collapse:separate;
      border-spacing: 1px;
      border-style:none;
      border-color:black;
      margin:0 auto;
      tr{
        height: 5px;
        td{
          border-style:solid;
          width: 35px;
        }
      }
    }
}

.tab-content .outbox{
  display:block;
  position:relative;
  width: 85px;
  height: 55px;
  float:left;
  z-index:1;
}
    
.tab-content .options_container{
  padding:30px;
  height: 300px;
  position:relative;
}