#utils{
  position:fixed;
  bottom:0;
  border:1px solid #F4F4F4;
  padding:10px;
  @include border-radius(4px);
  z-index:10000;
  background-color:white;

  #chatbox{
    height: 370px;
    padding:0px;
  }

  .chatdisplay{
    .highlighted{
      color: #F7FE2E;
    }
    height: 300px;
    padding:10px;
    border: 1px solid grey;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    p{padding-left: 10px}
    .my_msg{
      background-color: #EEE;
    }
  }
}