.left-margin-1{
	margin-left:1em;
}
.sample{
	padding:10px;
}
.right-margin-1{
	margin-right:1em;
}
.bottom-margin-1{
	margin-bottom:1em;
}
.bottom-margin-1-5{
	margin-bottom:1em;
}
.bottom-margin-2{
	margin-bottom:2em;
}
.bottom-margin-2-5{
	margin-bottom:2.5em;
}
.bottom-margin-3{
	margin-bottom:3em;
}
.bottom-margin-3-5{
	margin-bottom:3.5em;
}

.top-margin-1{
	margin-top:1em;
}
.top-margin-1-5{
	margin-top:1em;
}
.top-margin-2{
	margin-top:2em;
}
.top-margin-2-5{
	margin-top:2.5em;
}
.top-margin-3{
	margin-top:3em;
}
.top-margin-3-5{
	margin-top:3.5em;
}
.none{
	display:none;
}
.top_alert{
	position: fixed; top:10%; left:45%; z-index:1000;
}

.bs-icon{
	width:50px;
}

.left{
	float:left;
}
.right{
	float:right;	
}
.clear{
	clear:both;	
}

.panel {
  background: #f4f4f4;
  @include border-radius(4px);
	@include box-shadow(inset 0 1px 4px #dddddd);
  margin-bottom: 20px;
	.content{
		padding:15px;
	}
	h3 {
	  background: #f8f8ff;
	  @include gradient-vertical(#f8f8ff, #dcdcdc);
	  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
		@include box-shadow(inset 0 1px 4px 0 1px 2px rgba(0, 0, 0, 0.37));
	  text-shadow: white 0 1px 0;
	  border-bottom: 1px solid #ededed;
	  padding: 5px 10px 3px 10px;
	  font-size: 1.0em;
	  font-weight: bold;
	  line-height: 140%;
	  margin-bottom: 0.5em;
	  color: #6495ed;
	}
}
#footer{
  height:50px;
}
.dropdown-menu {
  left:auto;
}


.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
	@include gradient-vertical(#f5f5f5, #eeeeee);
  border: 1px solid #e5e5e5;
  @include border-radius(4px);
	.nav {
	  margin-bottom: 0;
		li > a {
		  margin: 0;
		  padding-top:    11px;
		  padding-bottom: 11px;
		  border-left: 1px solid #f5f5f5;
		  border-right: 1px solid #e5e5e5;
		  @include border-radius(4px);
		}
	}
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
	@include box-shadow(inset 0 3px 5px rgba(0,0,0,.05));
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
	@include border-radius( 4px 0 0 4px);
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
	@include border-radius(0 0 4px 4px);
}


.subnav-fixed {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-color: #d5d5d5;
  border-width: 0 0 1px; /* drop the border on the fixed edges */
	@include border-radius(0);
	@include box-shadow(inset 0 1px 0 #fff 0 1px 5px rgba(0,0,0,.1));
	.nav {
	  width: 938px;
	  margin: 0 auto;
	  padding: 0 1px;
		.nav > li:first-child > a,
		.nav > li:first-child > a:hover {
		 	@include border-radius(0);
		}
	}
}


.ui-autocomplete {
	.ui-state-hover{
		  background-color: #e5e5e5;
	}
	li{
		padding:5px;
	}
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.purr {
  z-index:100000;
  position: fixed;
  top: 100px;
  right: 200px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

.scrollable_dropdown{
  height:600px;
  overflow:scroll;
}

#order_cart_products{
  .row:nth-child(odd){
    background-color:#D9EDF7;
  }
}
#checkout_Modal{
  top:30%;
  left:20%;
  .modal-body{  
    max-height:600px;
  }

  #order_cart_products{
    max-height:500px;
  }
}

#add_address_modal{
  top:30%;
  .modal-body{  
    max-height:600px;
  }
}