// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#client_search_first_name{
  background-color: white;
}
#client_search_last_name{
  background-color: white;
}

#import_client_modal{
  width:1000px;
  .modal-body{  
    max-height:600px;
  }
  left:35%;
  top:40%;
}