%fieldset
  %legend="Agentes"
  =f.input :username
  =f.input :first_name
  =f.input :last_name
  =f.input :idnumber
  =f.input :password
  =f.input :password_confirmation
  -if current_user.is? [:admin]
    =f.input :roles, :as => :radio_buttons, :collection =>User.valid_roles
  =f.input :active, as: :boolean