%fieldset
  %legend="Agentes"
  =f.input :username
  =f.input :first_name
  =f.input :last_name
  =f.input :idnumber
  =f.input :password
  =f.input :password_confirmation
  =f.input :roles, :as => :check_boxes, :collection =>User.valid_roles
  =f.input :active, as: :boolean