= content_for :subnav do
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li= link_to 'Agentes', admin_users_path
      %li= link_to 'Configuracion', admin_settings_path
      %li= link_to 'Importación', admin_import_logs_path