.subnav.subnav-fixed
  %ul.nav.nav-pills
    %li
      - if current_cart.client.present?
        =link_to "Cliente: #{current_cart.client.full_name}", current_cart.client, :id => "choose_client"
      -else
        %a{:id => "choose_client", :href=>'#'}
          Cliente: N/A
    %li
      %a#choose_service_method.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Modo de servicio:
        = current_cart.try(:service_method) || " N/A"
        %b.caret
      %ul.dropdown-menu#choose_service_method_dropdown
        %li
          %a#service_method_delivery{:href=> "#" , :data=> { "service-method"=> 'delivery' }}
            -if current_cart.delivery? 
              %i.icon-ok
            Delivery
        %li
          %a#service_method_dine_in{:href=> "#" , :data=> { "service-method"=> 'dinein' }}
            -if current_cart.dinein? 
              %i.icon-ok
            Dine in
        %li
          %a#service_method_pickup{:href=> "#" , :data=> { "service-method"=> 'pickup' }}
            -if current_cart.pickup? 
              %i.icon-ok
            Pick up
    %li#store_selection
      = render 'store_selection'
    %li
      %a{:id => "proceed_to_checkout_out", :href=>payments_path} Checkout!