.row
  .span11#chatbox{data: { idnumber: current_user.idnumber, role: current_user.roles.first , full_name: current_user.full_name}}
    .span11
      .tabbable.tabs-left
        %ul.nav.nav-tabs
          %li
            %a#system{:href=>"#system_wide", :data=>{:toggle=>"tab"}}
              Sistema
        .tab-content
          .tab-pane{id: "system_wide"}
            .chatdisplay
    