.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"} ×
  %h3 Resumen de la orden
.modal-body
  loading...
    
        
    
        
      
.modal-footer
  %a#place_order.btn.btn-primary{:href => "#", class: 'disabled'} Ordenar
  %a.btn{"data-dismiss" => "modal", :href => "#"} Cancelar
