.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"} ×
  %h3 Resumen de la orden
.modal-body
  .row
    .span8#process_inf Inciando ...
  .row
    .span8#progress_bar
      .progress.progress-striped.active
        .bar{:style => "width: 0%;"}
  .row
    .span4#client_info
      .row
        .span4.bottom-margin-1
          %h4 Validation de Datos del cliente
      .row
        .span2#order_client_first_name
        .span2#order_client_last_name
      .row
        .span2#order_client_email
        .span2#order_client_idnumber
      .row
        .span4#order_client_phones
      .row
        .span4
          %hr
      .row
        .span4.bottom-margin-1
          %h4 Totales
      .row
        .span4#order_totals
      .row
        .span4
          %hr
    .span4#order_info
      .row
        .span4.bottom-margin-1
          %h4 Datos de la orden
      .row
        .span4#order_cart_products
    
        
    
        
      
.modal-footer
  %a#place_order.btn.btn-primary{:href => "#", class: 'disabled'} Ordenar
  %a.btn{"data-dismiss" => "modal", :href => "#"} Cancelar
