.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"} ×
  %h3 Resumen de la orden
.modal-body
  .row
    .span5#process_inf Inciando ...
  .row
    .span5#progress_bar
      .progress.progress-striped.active
        .bar{:style => "width: 0%;"}
  .row
    .span5#client_info
      .row
        .span5.bottom-margin-1
          %h4 Validation de Datos del cliente
      .row
        .span2#order_client_first_name
        .span2#order_client_last_name
      .row
        .span2#order_client_email
        .span2#order_client_idnumber
      .row
        .span4#order_client_phones
      .row
        .span5
          %hr
        
  .row
    .span5#order_info
      .row
        .span5.bottom-margin-1
          %h4 Validation de Datos del cliente
      .row
        .span5#order_cart_products
      .row
        .span5
          %hr

        
      
.modal-footer
  %a#place_order.btn.btn-primary{:href => "#", class: 'disabled'} Ordenar
  %a.btn{"data-dismiss" => "modal", :href => "#"} Cancelar
